@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdeede;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  margin-top: 50%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.115);
}

.App h1 {
  margin-bottom: 10px;
}

.App input {
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}