* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back: #212126;
  --primary: #D9304F;
  --menu-color: #2B2C31;
  --profile-color: #2B2C31;
  --menu-color-hover: #4e4e69;
  --hover-color: #D9305D;
}

div.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.barraLateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  height: 95vh;
  border-radius: 20px;
  background: linear-gradient(45deg, var(--hover-color), var(--primary) 33%);
  justify-content: space-between;
}

div.barraLateral h3 {
  margin-top: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
}

div.icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

div.icones button, a {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
  color: #fff;
}

div.icones button:hover, a:hover {
  cursor: pointer;
  background: var(--hover-color);
}

div.exit {
  margin-bottom: 20px;
}

div.exit button {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
  color: #fff;
  font-size: 16px;
}

div.exit button:hover {
  cursor: pointer;
  background: var(--hover-color);
}

div.content-center {
  display: flex;
  align-content: center;
  justify-items: start;
  flex-direction: column;
  justify-content: space-between;
}

div.superior{
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.superior input {
  width: 500px;
  padding: 15px;
  background-color: var(--menu-color);
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

div.superior input:focus {
  box-shadow: 0px 0px 8px #d3d3d341;
}

div.superior > .buttons-superior button {
  padding: 15px;
  background-color: var(--menu-color);
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
  color: var(--primary);
}

div.superior > .buttons-superior button:hover {
  background-color: var(--hover-color);
}

div.profile-content {
  display: grid;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  margin: 20px 20px 0px 20px;
}

div.profile-content > div.account {
    width: 350px;
    height: 230px;
    background-color: var(--profile-color);
    border-radius: 20px;
    box-shadow: 0px 0px 4px #00000031;
}

div.account > div.space-button {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 10px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 8px;
}

div.account > div.space-button h2 {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

div.space-button > button {
  background-color: var(--hover-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}

div.space-button > button:hover {
  background-color: var(--profile-color);
}

div.account > div.account-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  margin: 20px;
}

div.account-content > div.img-container{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  background: var(--menu-color) url('../image/&.jpeg') center no-repeat;
  background-size: 105%;
}

div.account-content > div.login-content {
  display: flex;
  flex-direction: column;
  align-items:  flex-start;
}

div.account-content > div.login-content h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
}

div.account-content > div.login-content p {
  color: #ffffffa8;
  font-size: 14px;
  font-weight: normal;
}

div.profile-content > div.recent-tasks {
  width: 350px;
  height: 240px;
  background-color: var(--profile-color);
  border-radius: 20px;
  box-shadow: 0px 0px 4px #00000031;
}

div.recent-tasks > div.top-recents-tasks {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 10px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 8px;
}

div.top-recents-tasks > h2 {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

div.top-recents-tasks > select {
  display: flex;
  background-color: var(--hover-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #fff; /* Cor do texto */
  font-weight: 700; /* Peso da fonte */
  margin-right: 10px;
  outline: none;
}

div.top-recents-tasks > select:hover {
  background-color: var(--hover-color);
}

button.add-new-task {
  display: flex;
  padding: 20px;
  background-color: var(--primary);
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 4px #00000031;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  justify-content: center;
  align-content: center;
  align-items: center;
}

button.add-new-task p {
  margin-left: 20px;
}

button.add-new-task:hover {
  background-color: var(--hover-color);
}