:root {
    --back: #1E1C29;
    --primary: #4163D1;
    --menu-color: #252537;
    --menu-color-hover: #4e4e69;
    --hover-color: #6B83E5;
    --hover-color-dois: #344381;
    --font: #fff;
}

main#content {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 20px;
    margin-left: 20px;
}

main#content > div.presentation {
    position: relative; /* Adicionado position: relative; */
    width: 800px;
    height: 180px;
    background: var(--primary) url('../image/background-image.png') center no-repeat;
    background-size: 102%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
}

main#content > div.presentation:hover {
    box-shadow: 0px 0px 15px #028dff5b;
}

div.presentation > button.day {
    position: absolute; /* Adicionado position: absolute; */
    top: 15px; /* Ajuste a distância superior conforme necessário */
    left: 15px; /* Ajuste a distância à esquerda conforme necessário */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--hover-color);
    width: 150px;
    padding: 8px;
    color: var(--font);
    border: none;
    transition: background-color 0.3s ease-in-out;
}

div.presentation > button.day p {
    font-size: 12px;
}

div.presentation > button.day:hover {
    background-color: var(--hover-color-dois);
    cursor: pointer;
}

div.container-graphics {
    display: flex;
    justify-content: space-between;
}

div.graphic {
    width: 250.3px;
    height: 140px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
}

div.graphic:hover {
    box-shadow: 0px 0px 15px #00000067;
}

div.graphic h3 {
    color: var(--font);
    font-size: 30px;
}

div.container-statistics {
    display: flex;
    justify-content: space-between;
}

div.statistic {
    width: 385px;
    height: 130px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
}

div.statistic:hover {
    box-shadow: 0px 0px 15px #00000067;
}

div.statistic h3 {
    color: var(--font);
    font-size: 30px;
}