:root {
    --back: #212126;
    --primary: #D9304F;
    --menu-color: #2B2C31;
    --menu-color-hover: #4e4e69;
    --hover-color: #7a0021;
    --hover-color-dois: #344381;
    --font: #fff;
    --teste: rgb(48, 217, 78);
}

main#content {
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin-top: 20px;
    margin-left: 20px;
}

main#content > div.presentation {
    position: relative; /* Adicionado position: relative; */
    max-width: 800px;
    height: 180px;
    display: flex;
    background: var(--primary) url('../image/background-image-new.png') center no-repeat;
    background-size: 102%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
}

main#content > div.presentation > div.greeting {
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 10px 10px;
}

main#content > div.presentation > div.greeting h1, p {
    text-shadow: 0px 0px 2px var(--menu-color) ;
}

main#content > div.presentation:hover {
    box-shadow: 0px 0px 15px #d9304fa8;
}

div.presentation > button.day {
    position: absolute; /* Adicionado position: absolute; */
    top: 15px; /* Ajuste a distância superior conforme necessário */
    left: 15px; /* Ajuste a distância à esquerda conforme necessário */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--primary);
    padding: 8px;
    color: var(--font);
    border: none;
    transition: background-color 0.3s ease-in-out;
}

div.presentation > button.day p {
    font-size: 12px;
    margin: 0 5px;
}

div.presentation > button.day:hover {
    background-color: var(--menu-color);
    cursor: pointer;
}

div.container-graphics {
    display: flex;
    justify-content: space-between;
}

div.graphic {
    width: 250.3px;
    height: 120px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--menu-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

div.graphic:hover {
    box-shadow: 0px 0px 15px #00000067;
}

div.graphic h3, ul {
    color: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

div.graphic ul {
    list-style-type: none;
    padding: 0;
}

div.graphic ul > li {
    font-weight: normal;
    font-size: 12px;
    position: relative;
    width: 120px;
    padding-left: 20px; /* Espaçamento para acomodar o quadradinho */
}

div.graphic ul > li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; /* Largura do quadradinho */
    height: 10px; /* Altura do quadradinho */
    border-radius: 2px; /* Borda arredondada */
}

div.graphic ul > li:nth-child(1)::before {
    background-color: #BC4E68; /* Cor para o primeiro <li> */
}

div.graphic ul > li:nth-child(2)::before {
    background-color: #ff9cae; /* Cor para o segundo <li> */
}

div.container-statistics {
    display: flex;
    justify-content: space-between;
}

div.statistic {
    width: 385px;
    height: 160px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
}

div.statistic:hover {
    box-shadow: 0px 0px 15px #00000067;
}

div.statistic h3 {
    color: var(--font);
    font-size: 30px;
}