@import url(./Themes.css);

main#content {
    display: grid;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 95%;
    height: 85vh;
    overflow-y: auto;
}

main#content::-webkit-scrollbar {
    width: 8px;
}

main#content::-webkit-scrollbar-thumb {
    background-color: var(--menu-color-hover); 
    border-radius: 6px; 
}

main#content::-webkit-scrollbar-track {
    background-color: var(--menu-color);
}

main#content > div.presentation {
    color: #fff;
    position: relative;
    width: 100%;
    max-width: 95%;
    height: 180px;
    display: flex;
    background: var(--primary) url('../image/background-image-new.png') center no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
}

main#content > div.presentation > div.greeting {
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 10px 10px;
}

main#content > div.presentation > div.greeting h1 {
    padding-top: 300px;
}

main#content > div.presentation > div.greeting h1, p {
    color: #fff;
    text-shadow: 0px 0px 2px var(--menu-color) ;
}

main#content > div.presentation:hover {
    box-shadow: 0px 0px 15px #d9304fa8;
}

div.presentation > a.day {
    position: absolute;
    text-decoration: none;
    top: 15px;
    left: 15px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--primary);
    padding: 8px;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

div.presentation > a.day p {
    font-size: 12px;
    margin: 0 5px;
}

div.presentation > a.day:hover {
    background-color: var(--menu-color);
    cursor: pointer;
}

div.container-graphics {
    width: 100%;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

div.graphic {
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--menu-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

div.graphic:hover {
    box-shadow: 0px 0px 15px #00000067;
}

div.graphic h3, ul {
    color: var(--fonts);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

div.graphic ul {
    list-style-type: none;
    padding: 0;
}

div.graphic ul > li {
    font-weight: normal;
    font-size: 12px;
    position: relative;
    width: 120px;
    padding-left: 20px;
    margin-top: 5px;
}

div.graphic ul > li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; 
    height: 10px; 
    border-radius: 2px;
}

div.graphic ul > li:nth-child(1)::before {
    background-color: #BC4E68; 
}

div.graphic ul > li:nth-child(2)::before {
    background-color: #ff9cae; 
}

div.container-statistics {
    width: 100%;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

div.statistic {
    flex-direction: column;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px #00000031;
    transition: box-shadow 0.3s ease-in-out;
}

div.statistic:hover {
    box-shadow: 0px 0px 15px #00000067;
}

div.statistic .chart-content {
    width: 90%;
    height: 200px;
    text-align: center;
}

div.statistic .chart-content h3 {
    color: var(--fonts);
    font-size: 14px;
}
