@keyframes sidebar-open {
    0% {
      width: 0;
      height: 100vh;
      left: 0; /* Ajuste para iniciar do lado esquerdo */
    }
  
    100% {
      width: 30%; /* Ajuste o tamanho desejado */
      height: 100vh;
      left: 0; /* Mantenha o lado esquerdo */
    }
}

div.barraLateral-2 {
    position: fixed; /* Altere para fixed */
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    background: var(--profile-color);
    justify-content: space-between;
    animation: sidebar-open 0.5s ease-in-out;
    box-shadow: 0 0 30px 10px;
}

button#close-button-menu {
    margin-top: 20px;
    font-size: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--fonts);
    transition: 0.3s;
}

button#close-button-menu:hover {
    color: var(--hover-color);
}

div.icones-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

div.icones-2 button, a {
    background: transparent;
    border: none;
    text-decoration: none;
    width: 90%;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    color: var(--fonts);
    display: flex;
}

div.icones-2 a > p {
    margin-left: 10px;
    font-size: 12px;
    color: var(--fonts);
}

div.icones-2 button:hover, a:hover {
    cursor: pointer;
    background: var(--hover-color);
}

div.exit-2 {
    margin-bottom: 20px;
}

div.exit-2 button {
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
    color: var(--fonts);
    font-size: 16px;
}

div.exit-2 button:hover {
    cursor: pointer;
    background: var(--hover-color);
}