@import url(./Themes.css);

main#content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 85vh;
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    font-size: 30px;
    color: var(--fonts);
    margin-bottom: 10px;
}

div.filter {
    display: flex;
    align-items: center;
    color: var(--fonts);
    justify-content: space-between;
    background-color: var(--menu-color);
    padding: 10px;
    border-radius: 10px;
}

div.filter h3 {
    text-transform: uppercase;
    font-size: 12px;
}

div.filter > div.selector {
    background-color: transparent;;
}

div.selector > label {
    color: #888888;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}

div.selector > select {
    background-color: var(--menu-color-hover);
    color: var(--fonts);
    border: none;
    outline: none;
    font-size: 11px;
    padding: 5px;
    cursor: pointer;
}

div.container-tasks {
    margin-top: 20px;
    color: var(--fonts);
    display: grid;
    gap: 20px;
    max-height: 100vh;
    overflow-y: auto;
    justify-items: center;
}

div.container-tasks::-webkit-scrollbar {
    width: 8px;
}

div.container-tasks::-webkit-scrollbar-thumb {
    background-color: var(--menu-color-hover); 
    border-radius: 6px; 
}

div.container-tasks::-webkit-scrollbar-track {
    background-color: var(--menu-color);
}

div.container-tasks > button.task {
    background-color: var(--menu-color);
    padding: 10px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);
    transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1) 0s;
    transform-origin: top;
}

div.container-tasks > button.task:hover {
    transform: scale(1.04);
    border-radius: 10px;
    box-shadow: 0px 25px 10px rgba(0, 0, 0, 0.356);
    background-color: var(--menu-color-hover);
    z-index: 999;
}

div.container-tasks > button.task:active {
    background-color: #787892;
}

button.task > div.content-text h3 {
    color: var(--fonts);
    text-align: left;
    font-size: 18px;
    margin-bottom: 8px;
}

button.task > div.content-text p {
    color: var(--fonts);
    opacity: 0.7;
}

button.task > div.tags {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

button.task > div.tags p {
    color: var(--fonts);
    font-size: 13px;
    opacity: 0.5;
}